@keyframes rotate {

  to{
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

h1{
  text-align: center;
  padding: 10px 0;
}

.hide{
  display: none;
}

a, input[type="submit"]{
  background-color: #5555ff;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a::after{
  content: 'Acessar';
}

#posts, form{
  max-width: 450px;
  margin: auto;
}

#posts > div{
  margin: 20px auto;
}

.circle{
  height: 50px;
  width: 50px;
  border-width: 8px;
  border-style: outset;
  margin: auto;
  border-radius: 50%;
  animation: rotate 0.8s linear infinite;
}

#email, textarea{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 10px 0;
  min-height: 30px;
  border: none;
  padding:4px;
  resize: none;
  border-radius: 6px;
}

footer{
  text-align: center;
  padding-top: 300px;
}

footer > span{
  color: #ecb652;
}